.root {
    -fx-background-color: #0A365E;
    -fx-font-family: "Arial", sans-serif;
    -fx-padding: 0;
}


.label {
    -fx-font-size: 16px;
    -fx-text-fill: #101017;
    -fx-font-family: "Inter Semi Bold", sans-serif;
}

.title-label {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: #101017;
    -fx-alignment: center;
}


.button {
    -fx-background-color: #4A90E2;
    -fx-text-fill: white;
    -fx-font-family: "Gabriola", sans-serif;
    -fx-font-size: 18px;
    -fx-padding: 12px 25px;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(74, 144, 226, 0.4), 10, 0.0, 0, 0);
}

.button:hover {
    -fx-background-color: #357ABD;
}


.text-field, .text-area {
    -fx-border-color: #4A90E2;
    -fx-border-width: 1px;
    -fx-padding: 8px;
    -fx-background-color: #2C3E50;
    -fx-text-fill: #1a1a1c;
    -fx-prompt-text-fill: #939395;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}
.text-area {
    -fx-control-inner-background: #2C3E50;
}


.input-section-vbox {
    -fx-padding: 20px;
    -fx-background-color: #1E375A;
    -fx-border-radius: 10px;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0.0, 0, 0);
}



.cv-page-container {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0.0, 0, 0);
    -fx-pref-width: 800px;
    -fx-min-height: 1000px;
}


.cv-display-box {
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: #1E2B38;
}


.cv-display-box {
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: #1E2B38;
}

.cv-page-header {
    -fx-background-color: #0E4D92;
    -fx-padding: 20px 40px;
    -fx-text-fill: #101017;
}
.cv-page-header .label {
    -fx-text-fill: #1a1a1c;
}


.cv-left-column .cv-section-title {
    -fx-text-fill: #101017;
    -fx-font-size: 16px;
    -fx-padding: 0;
    -fx-font-weight: bold;
    -fx-background-color: #323297;
}


.cv-right-column .cv-display-box {
    -fx-text-fill: #0E4D92;

}